.content-top.product.about{
  padding-right: 25px;
  .wysiwyg .h2{
    font-weight: 400;
    color: #31313f;
  }
}

.our-dealers{
  p{
    margin-bottom: 20px;
  }
}

.our-dealers-wrap{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
  p{
    flex-basis: 50%;
  }
}

.requisites{
  display: flex;
  justify-content: space-between;
}

.requisites-wrap{
  p{
    margin-bottom: 10px;
  }
}