.content-top.product.articles-top{
  display: flex;
  align-items: flex-start;
  padding-right: 20px;
  img{
    margin-left: 30px;
  }
}

.articles-page-wrap{
  padding-left: 15px;
  margin-bottom: 10px;
  &:after{
    content: '';
    display: table;
    clear: both;
  }
}


.article-page-item{
  width: 250px;
  height: auto;
  padding: 15px 15px 20px;
  float: left;
  margin-bottom: 20px;
  border: 1px solid #ECECFB;
  box-shadow: 0 0 22px 8px rgba(0,0,0,.04);
  &:nth-child(3n){
    margin-right: 0;
  }
  &:hover{
    box-shadow: 0 0 11px 4px rgba(0,0,0,.11);
  }
  span{
    font-size: 12px;
    color: @orange;
  }
  .h5{
    margin: 10px 0;
    a{
      font-weight: 700;
    }
    &:hover{
      a{
        color: @blue;
        text-decoration: underline;
      }
    }
  }
  p{
    line-height: 1.4;
  }
  .next{
    display: inline-block;
    margin-top: 10px;
    font-size: 12px;
    color: @blue;
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
}