.products-aside{
  flex-basis: 240px;
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border: 2px solid #ECECFB;
  .h4{
    padding: 8px 3px;
    text-align: center;
    background-color: #F7F7FD;
  }
}

.products-aside-item{
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 25px;
  font-size: 12px;
  color: #646472;
  line-height: 1.2;
  a{
    font-weight: 700;
    text-decoration: underline;
    &:hover{
      color: @blue;
    }
  }
}