.products-item__code{
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 10px;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  background-color: @orange;
}

.popup-form{
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 340px;
  max-height: 270px;
  padding: 20px 55px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #ECECFB;
  box-shadow: 0 0 17px 6px rgba(0,0,0,.22);
  p{
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    color: @orange;
  }
  span{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 21px;
    height: 21px;
    cursor: pointer;
    &:before,
    &:after{
      content: '';
      position: absolute;
      top: 40%;
      right: -2px;
      background-color: #c0c0c0;
      width: 25px;
      height: 4px;
    }
    &:before{
      transform: rotate(45deg);
    }
    &:after{
      transform: rotate(-45deg);
    }
  }
}