.content-top.product.contacts{
  display: flex;
  justify-content: space-between;
  .h2{
    font-weight: 400;
    margin-bottom: 5px;
  }
  p + .h2{
    margin-top: 25px;
  }
  .btn{
    float: none;
  }
}


.contacts-form{
  max-width: 270px;
  p{
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    background-color: @blue;
  }
  input,
  textarea{
    margin-top: 15px;
  }
  textarea{
    height: 67px;
  }
}

.how-to-get{
  padding-left: 15px;
  &:after{
    content: '';
    display: table;
    clear: both;
  }
  .h2{
    margin-bottom: 20px;
    color: #31313f;
  }
  img{
    float: right;
    margin-left: 20px;
  }
}



.directions{
  display: flex;
  justify-content: space-between;
  .h3{
    font-style: normal;
  }
}



.achtung{
  font-size: 16px;
  strong{
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: @blue;
  }
}