.pay{
  max-width: 500px;
  margin-top: 20px;
  padding: 0;
  list-style-type: none;
  li{
    margin-bottom: 20px;
    padding-left: 60px;
    background-repeat: no-repeat;
    background-position: 0 15px;
    &:nth-child(1){
      background-image: url(../img/phase1.svg);
      background-size: 34px;
    }
    &:nth-child(2){
      background-image: url(../img/phase2.svg);
    }
    &:nth-child(3){
      background-image: url(../img/phase3.svg);
    }
    &:nth-child(4){
      background-image: url(../img/phase4.svg);
    }
  }
}

.pay-alert{
  padding: 20px;
  background-color: @blue;
  float: right;
  max-width: 270px;
  color: #ffffff;
  strong{
    display: block;
    font-size: 16px;
  }
  p{
    margin-top: 15px;
  }
  span{
    font-weight: 600;
  }
}


.delivery{
  margin-top: 40px;
  margin-bottom: 50px;
  background: url(../img/delivery.svg) no-repeat 90% 40px;
  background-size: 121px;
  .h3{
    margin-bottom: 15px;
    strong{
      color: #414151;
    }
  }
  strong{
    display: inline-block;
    margin: 20px 0;
    color: @blue;
  }
}