@font-face {
  font-family: 'Rex';
  src: url('../font/rex/rex_b.eot');
  src: url('../font/rex/rex_b.eot?#iefix') format('embedded-opentype'),
       url('../font/rex/rex_b.woff2') format('woff2'),
       url('../font/rex/rex_b.woff') format('woff'),
       url('../font/rex/rex_b.ttf') format('truetype'),
       url('../font/rex/rex_b.svg#webfontregular') format('svg');
  font-weight: normal;
  font-style: normal;
}




@font-face {
  font-family: 'Open Sans';
  src: url('../font/os/os-r.eot');
  src: url('../font/os/os-r.eot?#iefix') format('embedded-opentype'),
       url('../font/os/os-r.woff2') format('woff2'),
       url('../font/os/os-r.woff') format('woff'),
       url('../font/os/os-r.ttf') format('truetype'),
       url('../font/os/os-r.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../font/os/os-i.eot');
  src: url('../font/os/os-i.eot?#iefix') format('embedded-opentype'),
       url('../font/os/os-i.woff2') format('woff2'),
       url('../font/os/os-i.woff') format('woff'),
       url('../font/os/os-i.ttf') format('truetype'),
       url('../font/os/os-i.svg#open_sansitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../font/os/os-s.eot');
  src: url('../font/os/os-s.eot?#iefix') format('embedded-opentype'),
       url('../font/os/os-s.woff2') format('woff2'),
       url('../font/os/os-s.woff') format('woff'),
       url('../font/os/os-s.ttf') format('truetype'),
       url('../font/os/os-s.svg#open_sanssemibold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../font/os/os-si.eot');
  src: url('../font/os/os-si.eot?#iefix') format('embedded-opentype'),
       url('../font/os/os-si.woff2') format('woff2'),
       url('../font/os/os-si.woff') format('woff'),
       url('../font/os/os-si.ttf') format('truetype'),
       url('../font/os/os-si.svg#open_sanssemibold') format('svg');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../font/os/os-b.eot');
  src: url('../font/os/os-b.eot?#iefix') format('embedded-opentype'),
       url('../font/os/os-b.woff2') format('woff2'),
       url('../font/os/os-b.woff') format('woff'),
       url('../font/os/os-b.ttf') format('truetype'),
       url('../font/os/os-b.svg#open_sansbold') format('svg');
  font-weight: 700;
  font-style: normal;
}