.site-footer{
  margin-top: 100px;
  padding-top: 35px;
  background-color: #f7f7fd;
  .top-info{
    a{
      opacity: .7;
      filter: grayscale(1);
    }
  }

  .top-request{
    font-weight: 700;
    color: #a1a1ae;
    .btn{
      background-color: fade(#dbdbea, 50);
      color: #a2a2af;
      &:hover{
        background-color: fade(#dbdbea, 30);
      }
    }
  }

  .top-contacts span{
    filter: grayscale(1);
    color: #a1a1ae;
  }

  .top-nav{
    justify-content: flex-start;
    font-size: 16px;
    border-bottom-color: #CACAD9;
    a{
      margin-left: 20px;
      margin-bottom: 10px;
      color: #9f9fac;
      font-weight: 700;
      word-spacing: 0;
      &:hover{
        color: @blue;
      }
    }
  }
}

.cpr{
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: center;
  color: #535362;
  a{
    color: #535362;
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
}