.site-top,
.site-footer{
  .wrap;
  position: relative;
  padding: 10px 25px;
  color: #525261;
  box-shadow: 0 0 8px 3px rgba(0,0,0,.1);
  background-color: #fff;
}

.top-info{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  a{
    font-family: Rex, sans-serif;
    font-size: 20px;
    letter-spacing: 1.4px;
    color: #646473;
  }
  img{
    display: block;
  }
}

.top-right{
  display: flex;
}

.top-request{
  margin-right: 45px;
  p{
    margin-bottom: 10px;
  }
}

.top-contacts span{
  position: relative;
  display: block;
  margin-bottom: 5px;
  padding-left: 25px;
  background-repeat: no-repeat;
  background-position-y: 5px;
  background-size: 15px;
  &:nth-child(1){
    background-image: url(../img/phone.svg);
  }
  &:nth-child(2){
    background-image: url(../img/marker.svg);
  }
}




.top-nav{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  border-bottom: 6px solid @orange;
  a{
    margin-bottom: 5px;
    color: #414151;
    word-spacing: 15px;
    &:hover{
      color: @blue;
      text-decoration: underline;
    }
    &.active{
      color: @orange;
    }
  }
}



.page-title{
  font-family: Rex, sans-serif;
  background-repeat: no-repeat;
  margin-top: 15px;
  .h1{
    padding-top: 15px;
    padding-left: 75px;
    background-repeat: no-repeat;
  }
  &.products .h1{
    background-image: url(../img/products.svg);
  }
  &.dealer .h1{
    background-image: url(../img/dealer.svg);
  }
  &.about-title .h1{
    background-image: url(../img/about.svg);
  }
  &.articles-title .h1{
    background-image: url(../img/article.svg);
  }
  &.contacts-title .h1{
    background-image: url(../img/delivery.svg);
    background-size: 60px;
  }
}