.page-content__2-columns{
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}

.page-right{
  flex-basis: 810px;
}


.content-top{
  border: 1px solid #ECECFB;
  border-top: none;
  box-shadow: 0 0 19px 7px rgba(0,0,0,.04);
  &.products{
    display: flex;
    align-items: flex-start;
    padding: 50px 20px 25px;
    font-size: 12px;
    img{
      margin-right: 25px;
    }
  }
}


.brands{
  margin-top: 20px;
  margin-right: -20px;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 1.8;
  background-color: @blue;
  .h5,
  a{
    color: #fff;
  }
  .h5{
    font-size: 16px;
    font-weight: 700;
  }
  a{
    margin-right: 15px;
    &:hover{
      text-decoration: underline;
    }
  }
}




.products-wrap{
  margin-top: 50px;
  margin-left: 20px;
  .h2{
    font-weight: 600;
    margin-bottom: 25px;
  }
}

.products-items{
  display: flex;
  flex-wrap: wrap;
}

.products-item{
  position: relative;
  max-width: 250px;
  margin-bottom: 35px;
  margin-right: 20px;
  &:nth-child(3n){
    margin-right: 0;
  }
  img{
    border: 1px solid #ECECFB;
    box-shadow: 0 0 20px 2px rgba(0,0,0,.04);
    &:hover{
      box-shadow: 0 0 7px 3px rgba(0,0,0,.11);
    }
  }
  a{
    color: #1f1f2c;
    font-weight: 700;
    &:hover{
      color: @blue;
      text-decoration: underline;
    }
  }
  strong span{
    font-size: 16px;
    color: @orange;
  }
}



.page-bottom__text{
  padding: 35px;
  border: 1px solid #ECECFB;
  color: #424251;
  p{
    max-width: 685px;
    + p{
      margin-top: 25px;
    }
  }
}
