@blue: #00a3d8;
@orange: #ff9f3f;



.wrap(@width: 1060px){
  max-width: @width + 30px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.wrap{
  .wrap;
}


.btn(){
  display: flex;
  justify-content: center;
  align-items: center;
  width: 172px;
  height: 30px;
  font-weight: 600;
  line-height: 1;
  color: #ffffff;
  background-color: @blue;
  border: none;
  border-radius: 99px;
  box-shadow: 0 4px 4px rgba(0,0,0, .11);
  &:hover,
  &:focus{
    background-color: lighten(@blue, 4);
  }
  &:active{
    background-color: darken(@blue, 6);
    box-shadow: none;
  }
}

.btn{
  .btn;
}