.content-top.product{
  padding: 30px 0 25px 20px;
  margin-bottom: 40px;
  .h2{
    margin-bottom: 15px;
    font-weight: 600;
  }
  a{
    position: relative;
    float: left;
    margin-right: 20px;
  }
  img{
    border: 1px solid #B9B9C8;
  }
  .btn{
    float: left;
  }
}

.prices{
  display: table;
  width: 266px;
  padding: 15px 20px;
  color: #ffffff;
  background-color: fade(@blue, 69);
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.11);
  strong{
    display: block;
    font-size: 16px;
    line-height: 1.8;
  }
  p{
    display: flex;
    justify-content: space-between;
    &:nth-of-type(3){
      font-weight: 700;
    }
    &:nth-of-type(4) span:last-child{
      text-decoration: underline;
      cursor: pointer;
      &:hover{
        text-decoration: none;
      }
    }
    &:last-child{
      max-width: 150px;
      margin-top: 5px;
      font-size: 12px;
    }
  }
}

.product__short-text{
  max-width: 96%;
  margin: 5px 0;
  color: #1f1f2c;
}

.print,
.share{
  width: 30px;
  height: 30px;
  margin-left: 10px;
  background-color: transparent;
  border: none;
}

.print{
  background-image: url(../img/print.svg);
}

.share{
  position: relative;
  z-index: 999;
  background-image: url(../img/share.svg);
  &:hover .tooltip {
    pointer-events: auto;
    opacity: 1;
    transform: translate3d(0,0,0) rotate3d(0,0,0,0);
  }
  &:after{
    content: '';
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    height: 20px;
  }
}

.tooltip {
  position: absolute;
  top: 130%;
  right: 50%;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #dbdbea;
  z-index: 9999;
  opacity: 0;
  box-shadow: -5px -5px 15px rgba(48,54,61,0.2);
  pointer-events: none;
  transform: translate3d(0,10px,0) rotate3d(1,1,0,25deg);
  transition: opacity 0.3s, transform 0.3s;
  &:before,
  &:after{
    content: '';
    position: absolute;
    bottom: 100%;
    border: solid transparent;
    pointer-events: none;
  }
  &:before{
    right: -1px;
    border-bottom-color: #dbdbea;
    border-right-color: #dbdbea;
    border-width: 7px;
  }
  &:after {
    right: 0;
    border-bottom-color: #fff;
    border-right-color: #fff;
    border-width: 6px;
  }
}









.characteristics,
.dimensions{
  width: 100%;
  thead{
    background-color: #f6f6fd;
    border: 1px solid #ECECFB;
  }
  th{
    padding: 5px 5px 5px 20px;
    text-align: left;
  }
  .h2{
    font-weight: 400;
    color: #858592;
  }
  td{
    padding: 10px 10px 10px 20px;
    border: 1px solid #ECECFB;
  }
  a{
    color: @blue;
  }
}


.characteristics td:first-child{
  font-weight: 700;
}

.dimensions{
  margin: 25px 0;
  tbody{
    vertical-align: top;
  }
}


.similar-products,
.articles,
.our-dealers,
.requisites,
.directions,
.achtung{
  padding: 45px 25px;
  .h3{
    font-size: 20px;
    font-style: italic;
    margin-bottom: 15px;
  }
}

.similar-products,
.our-dealers,
.directions{
  position: relative;
  margin-top: 60px;
  border: 1px solid #ECECFB;
  box-shadow: 0 0 19px 3px rgba(0,0,0,.06);
  .products-items{
    justify-content: space-between;
  }
  .products-item{
    max-width: 315px;
    margin-bottom: 0;
  }
}


.articles,
.requisites,
.achtung{
  background-color: #ececfb;
}

.articles-wrap{
  display: flex;
  justify-content: space-between;
}

.articles-item{
  max-width: 315px;
  .h5{
    font-weight: 700;
    text-align: center;
  }
}