@import "../lib/magnific-popup/magnific-popup.css";
@import "fonts";
@import "base";
@import "mixins";
@import "components";



body{
  min-width: 1090px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

a{
  text-decoration: none;
}

form{
  max-width: 225px;
  margin: 0 auto;
}


input,
textarea{
  display: block;
  width: 100%;
  padding: 4px 10px;
  border: 1px solid #CACAD9;
  &:focus{
    border-color: @orange;
  }
  + input{
    margin-top: 15px;
  }
  &.btn{
    margin-left: auto;
    margin-right: auto;
  }
}

.h1{
  font-family: Rex, sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: @blue;
}

.h2{
  font-size: 22px;
  font-style: italic;
  color: @blue;
}

.h3{
  font-size: 18px;
  color: #1f1f2c;
}

.h4{
  font-size: 18px;
  font-style: italic;
  color: #858593;
}

.h5{
  color: #1f1f2c;
}

.h6{
  font-size: 12px;
}


.wysiwyg{
  p{
    margin-bottom: 20px;
  }
  ul{
    padding-left: 20px;
    line-height: 2;
  }
  .img-left,
  .img-right{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .img-left{
    float: left;
    margin-right: 20px;
  }
  .img-right{
    float: right;
    margin-left: 20px;
  }
  .orange{
    font-weight: 700;
    color: @orange;
  }
}


@media print {
  *{
    box-shadow: none !important;
  }
  .page-right{
    flex-basis: auto;
  }
  .products-aside{
    display: none;
  }
  .articles{
    display: none;
  }
  .site-footer{
    display: none;
  }
}





@import "header";
@import "aside";
@import "index";
@import "product";
@import "dealer";
@import "about";
@import "contacts";
@import "articles";

@import "footer";